/*posicion del texto sobre la imagen*/
.thumbnail { 
    position: relative; 
   } 
.ejemplo { 
    position: absolute; 
    top: 35%; 
    left: 0; 
    width: 100%; 
} 
img{
    width: 100%;
}
/**/
.title{
    padding: 15px 8px;
    margin-top: 50px;
}
.sub-title{
    padding: 9px 8px;
}
.text{
    padding: 0 80px;
}